.custom-gradient {
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, #14b0c5, #061d20);
    border-image-slice: 1;
    transition: border-image 0.3s ease-in-out;
  }
  
  .custom-gradient-hover:hover {
    border-image: none;
    border-color: transparent; /* Ensures the border is not visible */
  }
  